<!doctype html>
<html>
<head>
	<title>Vue Instant Search</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div id="main">

		<div class="nav">
			<input type="text" v-model="searchString" placeholder="Enter your search terms" />
		</div>

		<ul>
			<li v-for="movie in filteredMovies">
				<a v-bind:href="movie.url"><img v-bind:src="movie.image" /></a>
				<p>{{ movie.title }}</p>
			</li>
		</ul>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="main.js"></script>

</body>
</html>
